tmp
.*.md

# Bundler
/.bundle/
/vendor/bundle
Gemfile.lock

# Coverage
/coverage/

# RSpec
/spec/examples.txt

# Sorbet
/sorbet/rbi/gems/
/sorbet/rbi/annotations/
/sorbet/rbi/dsl/

# Build artifacts
/*.gem
/pkg/